.header {
    background: var(--gray-700);
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1.25rem 0;
}

.header img {
    height: 2rem;
    margin-right: 0.75rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}